.row_header {
    font-weight: bold;
    padding-right: 10px;
}

.highlighted_cell {
    background-color: #FFFACD;
}

#equation_input_div{
    padding: 5px;
    margin: 5px;
}

/* centered div */
/* .spreadsheet {
    display: flex;
    justify-content: center;
} */